[Unit]
Description=DMS CICD gunicorn daemon
Requires=dms_gunicorn_django.socket
After=network.target

[Service]
User=jenkins
Group=www-data
WorkingDirectory=/var/www/html/DMS_goa/DMS_goa
ExecStart=/var/www/html/DMS_goa/vvenv/bin/gunicorn \
        --error-logfile /var/www/html/DMS_goa/Deployment/logs/error.log \
        --access-logfile /var/www/html/DMS_goa/Deployment/logs/access.log \
        --workers 3 \
        --capture-output --log-level debug \
        --bind unix:/run/dms_gunicorn.sock \
        DMS_goa.wsgi:application

[Install]
WantedBy=multi-user.target
